@import url('https://fonts.googleapis.com/css?family=Kanit|Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');

html{
    -webkit-tap-highlight-color: transparent;
}
* {
    box-sizing: border-box;
}
body {
    background-attachment: fixed;
    background-image: url("../images/computer-programming.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-size: 18px;
    line-height: 34px;
    font-family: 'Nunito';
    min-height:100vh;
    position:relative;

}
body:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: -moz-linear-gradient(0deg,  #e66587 0%, #f09458 100%);
    background-image: -webkit-linear-gradient(0deg,  #e66587 0%, #f09458 100%);
    background-image: -ms-linear-gradient(0deg,  #e66587 0%, #f09458 100%);
    opacity: 0.6;
    z-index: -1;
}

.header-wrap {
    position: relative;
}

.header-top {
    padding: 30px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.menu-bar {
    cursor: pointer;
}

.main-menubar {
    position: relative;
}
nav a {
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 25px;
}
 a:hover {
    color: white;
}


/* ---------Index.html page styling--------------------- */

.banner-area{
    background-image: -moz-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    background-image: -ms-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    height: 450px;
    display:block;
    width: 68.75%;
    margin: 0 auto;
    margin-top: 2rem;
    opacity: 0.9;
}

.banner-area .height {
    height: 500px;
}
h1 {
    font-family: 'Overpass', sans-serif;
    font-weight:bold;
    font-size: 35px;
    line-height: 49px;
    padding-bottom: 15px;
    color:whitesmoke;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* --------About-Me page styling------------------ */

.card-body{
    padding: 20px;
    margin-bottom: 6px;
    color: white;
    opacity :0.9;
 }

.content-area{
    display:block; 
    margin: 0 auto;
    margin-top: 2rem;
}

.floating-img {
    border: 1px solid #ccc;
}

.main-wrapper {
    width: 68.75%;
    margin: 0 auto;
}
.card-body{
    padding: 20px;
    margin-bottom: 6px;
    background: #ffffff;
    opacity:0.9;
    color: #2F4F4F;
}
.floating-img {
    border: 1px solid #ccc;
    float: left;
}

/* --------------portfolio------------------- */

.portfolio-area{
    margin-top:100px;
}

#portfolio-heading {
    font-family: 'Overpass', sans-serif;
    font-weight:bold;
    font-size: 35px;
    line-height: 49px;
    padding-bottom: 15px;
    color:whitesmoke;

    margin-bottom: 20px;
}

.portfolio-card {
    margin-top: 40px;
}

.portfolio-card .thumb {
    height: 13rem;
    width: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    position: relative;
    border-radius: 10px;
}

.portfolio-card .card-text {
    margin-top: 15px;
}

.portfolio-card .card-text h6 {
    margin-bottom: 10px;
}

.portfolio-area{
    background-image: -moz-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    background-image: -ms-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    height: 800px;;
    display:block;
    width: 68.75%;
    margin: 0 auto;
    margin-top: 6rem;
    display:block; 
    margin: 0 auto;
    margin-top: 6rem;
    opacity:0.9;
}
a{
    text-decoration:none;
    color:white;
}

/* ---------footer styling--------- */

.footer-text{
color:black;
font-size :16px;
}
.footer-content{
    background-color:#FFC0CB;
    opacity : 0.5;
}
